@page "/"

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h1" Align="Align.Center">Robert <i>"Archy"</i> Hardy</MudText>
    <MudText Typo="Typo.h3" Align="Align.Center">Portfolio</MudText>
    <div class="flex justify-center w-full">
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Text" Size="Size.Large" Class="mx-auto">
            <MudButton Link="/projects">Projects</MudButton>
            <MudButton Link="/about">About</MudButton>
            <MudButton Link="/contact">Contact</MudButton>
        </MudButtonGroup>
    </div>
</MudContainer>

@code {

}