@page "/projects"

@using Portfolio.Shared
@using Portfolio.Client.Components

@inject HttpClient _http

@if (_projects == null)
{
    <MudContainer>
        <MudText Typo="Typo.h2" Align="Align.Center">Projects</MudText>
        <div class="flex justify-center mt-8">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
        </div>
    </MudContainer>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <div class="flex flex-wrap justify-center">
                @foreach (var project in _projects)
                {
                    <ProjectCard
                        @key=@project.ProjectId
                        Title=@project.Title
                        Categories=@project.Categories
                        Created=@project.Created
                        Technologies=@project.Technologies
                        ImageAlt=@project.ImageDescription
                        ImageUrl=@project.ImageUrl
                        PageLink=""/>
                    @* TODO: Add page link... *@
                }
            </div>
    </MudContainer>
}

@code {
    private Project[] _projects;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _projects = await _http.GetFromJsonAsync<Project[]>("Project");
        }
        catch (Exception e)
        {
            Console.WriteLine("DEBUG => Failed to load projects");
            Console.WriteLine(e.Message);
        }
    }

}